<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <appSettings>
        <add key="material" value="S:/Solidworks Settings/Materials/FD2P Other Materials.sldmat" />
        <add key="template" value="S:/Programs/Macros/SW TreeManager/sw-tree-manager_Template.xlsx" />
    </appSettings>
</configuration>